<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Typography </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Typography </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">   
      <div class="col-xl-6 mb-30">
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
             <h1>h1. heading</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>
             <h2 class="mt-30">h2. heading</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>

             <h3 class="mt-30">h3. heading</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>

             <h4 class="mt-30">h4. heading</h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>

             <h5 class="mt-30">h5. heading</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>

             <h6 class="mt-30">h6. heading</h6>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores quidem qui aspernatur ipsum accusantium fugiat soluta commodi esse.</p>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Marked text</h5>
            <p>You can use the mark tag to <mark>highlight</mark> text.</p>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Deleted text</h5>
            <del>This line of text is meant to be treated as deleted text.</del>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Strikethrough text</h5>
            <s>This line of text is meant to be treated as no longer accurate.</s>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Underlined text</h5>
            <u>This line of text will render as underlined</u>
          </div>
        </div>
        <div class="card card-statistics"> 
          <div class="card-body">
            <h5 class="card-title">Text Color</h5>
            <p class="text-primary">.text-primary</p>
            <p class="text-secondary">.text-secondary</p>
            <p class="text-success">.text-success</p>
            <p class="text-danger">.text-danger</p>
            <p class="text-warning">.text-warning</p>
            <p class="text-info">.text-info</p>
            <p class="text-light bg-dark">.text-light</p>
            <p class="text-dark">.text-dark</p>
            <p class="text-muted">.text-muted</p>
            <p class="text-white bg-dark">.text-white</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-30">
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Display headings </h5>
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Contextual variations</h5>
              <span class="badge badge-primary">Primary</span>
              <span class="badge badge-secondary">Secondary</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-danger">Danger</span>
              <span class="badge badge-warning">Warning</span>
              <span class="badge badge-info">Info</span>
              <span class="badge badge-light">Light</span>
              <span class="badge badge-dark">Dark</span>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Pill badges</h5>
              <span class="badge badge-pill badge-primary">Primary</span>
              <span class="badge badge-pill badge-secondary">Secondary</span>
              <span class="badge badge-pill badge-success">Success</span>
              <span class="badge badge-pill badge-danger">Danger</span>
              <span class="badge badge-pill badge-warning">Warning</span>
              <span class="badge badge-pill badge-info">Info</span>
              <span class="badge badge-pill badge-light">Light</span>
              <span class="badge badge-pill badge-dark">Dark</span>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Links</h5>
              <a href="#" class="badge badge-primary">Primary</a>
              <a href="#" class="badge badge-secondary">Secondary</a>
              <a href="#" class="badge badge-success">Success</a>
              <a href="#" class="badge badge-danger">Danger</a>
              <a href="#" class="badge badge-warning">Warning</a>
              <a href="#" class="badge badge-info">Info</a>
              <a href="#" class="badge badge-light">Light</a>
              <a href="#" class="badge badge-dark">Dark</a>
          </div>
        </div>
        <div class="card card-statistics mb-30"> 
          <div class="card-body">
            <h5 class="card-title">Badges</h5>
              <button type="button" class="btn btn-primary">
                Notifications <span class="badge badge-light">4</span>
              </button>
              <button type="button" class="btn btn-primary">
                Profile <span class="badge badge-light">9</span>
                <span class="sr-only">unread messages</span>
              </button>
          </div>
        </div>
        <div class="card card-statistics"> 
          <div class="card-body">
            <h5 class="card-title">Background color</h5>
              <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
              <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
              <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
              <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
              <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
              <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
              <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
              <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
              <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
          </div>
        </div>
      </div>
  </div>