<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Pricing Table </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Pricing Table </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Pricing Table 01</h5>
        <div class="row">
          <div class="col-xl-4 mb-60">
            <div class="pricing-table">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Basic</h3>
                  <p>In this package dolor sit amet occaecat cupidatat non proident</p>
                </div>
                <div class="pricing-prize">
                  <h2>$49 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-times"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-60">
            <div class="pricing-table active">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Standard </h3>
                  <p>Suitable for medium sit amet officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="pricing-prize">
                  <h2>$129 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-check"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-60">
            <div class="pricing-table">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Premium</h3>
                  <p>Best for unlimited tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div class="pricing-prize">
                  <h2>$99 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-times"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Pricing Table boxed</h5>
        <div class="row">
          <div class="col-xl-4 mb-60">
            <div class="pricing-table boxed">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Basic </h3>
                  <p>In this package dolor sit amet occaecat cupidatat non proident</p>
                </div>
                <div class="pricing-prize">
                  <h2>$49 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-times"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-60">
            <div class="pricing-table boxed active">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Standard</h3>
                  <p>Suitable for medium sit amet officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="pricing-prize">
                  <h2>$129 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-check"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-60">
            <div class="pricing-table boxed">
              <div class="pricing-top">
                <div class="pricing-title">
                  <h3 class="mb-15">Premium</h3>
                  <p>Best for unlimited tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div class="pricing-prize">
                  <h2>$99 /<span> month</span> </h2>
                </div>
                <div class="pricing-button">
                  <a class="button" href="javascript:void(0);">Sign Up</a>
                </div>
              </div>
              <div class="pricing-content">
                <div class="pricing-table-list">
                  <ul class="list-unstyled">
                    <li> <i class="fa fa-check"></i> 25 Analytics Campaign <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span></li>
                    <li><i class="fa fa-times"></i> Branded Reports <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li><i class="fa fa-check"></i> 1,900 Keywords <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-times"></i> 4 Social Account <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                    <li> <i class="fa fa-check"></i>  Phone & Email Support <span class="tooltip-content float-right" placement="top" ngbTooltip="Lorem ipsum dolor sit amet"><i class="fa fa-info"></i></span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Pricing Table bootstrap default 4 column</h5>
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-60">
            <ul class="price">
              <li class="header">Basic</li>
              <li class="grey">$ 9.99 / year</li>
              <li>10GB Storage</li>
              <li>10 Emails</li>
              <li>10 Domains</li>
              <li>1GB Bandwidth</li>
              <li class="grey"><a href="javascript:void(0);" class="button">Sign Up</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 mb-60">
            <ul class="price active">
              <li class="header">Pro</li>
              <li class="grey">$ 24.99 / year</li>
              <li>25GB Storage</li>
              <li>25 Emails</li>
              <li>25 Domains</li>
              <li>2GB Bandwidth</li>
              <li class="grey"><a href="javascript:void(0);" class="button">Sign Up</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 mb-60">
            <ul class="price">
              <li class="header">Premium</li>
              <li class="grey">$ 49.99 / year</li>
              <li>50GB Storage</li>
              <li>50 Emails</li>
              <li>50 Domains</li>
              <li>5GB Bandwidth</li>
              <li class="grey"><a href="javascript:void(0);" class="button">Sign Up</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 mb-60">
            <ul class="price">
              <li class="header">Premium</li>
              <li class="grey">$ 49.99 / year</li>
              <li>50GB Storage</li>
              <li>50 Emails</li>
              <li>50 Domains</li>
              <li>5GB Bandwidth</li>
              <li class="grey"><a href="javascript:void(0);" class="button">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 