<!-- User Info -->
<div class="profile-page">
<div class="row">
  <div class="col-lg-12 mb-30">
    <div class="card">
      <div class="card-body">
        <div class="user-bg" style="background: url(assets/images/user-bg.jpg);">
          <div class="user-info">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="user-dp"><img src="assets/images/team/11.jpg" alt=""></div>
                <div class="user-detail">
                  <h2 class="name">Michael Bean</h2>
                  <p class="designation mb-0">- Admin</p>
                </div>
              </div>
              <div class="col-lg-6 text-right align-self-center">
                <ul>
                  <button type="button" class="btn btn-sm btn-danger"><i class="ti-user pr-1"></i>Follow</button>
                  <button type="button" class="btn btn-sm btn-success"><i class="ti-email pr-1"></i>Message</button>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-4">
    <div class="card mb-30 about-me">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <div class="btn-group info-drop" id="wrapDiv1">
          <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="OpenMenu('submenu1','wrapDiv1')"><i class="ti-more"></i></button>
          <div class="dropdown-menu" id="submenu1">
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-success ti-pencil-alt"></i> Edit Profile</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-info ti-settings"></i> Account Setting</a>
          </div>
        </div>
        <p>I have more than 9 years of experience in the field of Graphic/ E-Learning/Web Designing.</p>
        <p>Specialized in Adobe web & graphic designing tools and also in other tools. Professional in Corporate branding, Graphic designing, Web Designing, visualization, GUI, graphics & animations for e-learning, illustrations, web icons, logos, brochures, posters etc.</p>
        <ul class="list-unstyled ">
          <li class="list-item"><span class="text-info ti-email"></span>+(704) 279-15912</li>
          <li class="list-item"><span class="text-warning ti-direction-alt"></span>michael-bean@mail.com</li>
          <li class="list-item"><span class="text-success ti-facebook"></span>/michaelbean</li>
          <li class="list-item"><span class="text-danger ti-twitter"></span>@michaelbean</li>
          <li class="list-item"><span class="text-dark ti-direction-alt"></span>17504 Carlton Cuevas Rd, Gulfport, MS, 39503</li>
        </ul>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title"> Notifications</h5>
        <!-- action group -->
        <div class="btn-group info-drop" id="wrapDiv2">
          <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="OpenMenu('submenu2','wrapDiv2')"><i class="ti-more"></i></button>
          <div class="dropdown-menu" id="submenu2">
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-success ti-thumb-up"></i> Mark As Read</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-danger ti-trash"></i> Delete all</a>
          </div>
        </div>
        <div class="scrollbar max-h-350" malihu-scrollbar [scrollbarOptions]="scrollbarY">
          <ul class="list-unstyled">
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/07.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Martin smith <small class="float-right">Just now</small> </h6>
                  <p>Create tailor-cut websites with the exclusive </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative clearfix">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/08.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Paul Flavius  <small class="float-right">Just now</small> </h6>
                  <p>Create tailor-cut websites with the exclusive </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/09.jpg" alt="">
                  <i class="avatar-online bg-danger"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Anne Smith  <small class="float-right">30 min ago</small> </h6>
                  <p>Create tailor-cut websites with the exclusive </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/10.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Sara Lisbon  <small class="float-right">1 hours ago</small> </h6>
                  <p>Create tailor-cut websites with the exclusive </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/12.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Sara Lisbon  <small class="float-right">10 hours ago</small> </h6>
                  <p>Create tailor-cut websites with the exclusive </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="card mb-30">
      <div class="card-body">
        <div class="comment-block">
          <div class="form-group mb-0">
            <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="card tickets mb-30">
      <div class="card-body">
        <h5 class="card-title"> Support Tickets</h5>
        <!-- action group -->
        <div class="btn-group info-drop" id="wrapDiv3">
          <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="OpenMenu('submenu3','wrapDiv3')"><i class="ti-more"></i></button>
          <div class="dropdown-menu" id="submenu3">
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-success ti-thumb-up"></i> Mark As Read</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="text-danger ti-trash"></i> Delete all</a>
          </div>
        </div>
        <div class="scrollbar max-h-550 tickets-info" malihu-scrollbar [scrollbarOptions]="scrollbarY">
          <ul class="list-unstyled">
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/05.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Martin smith <small class="float-right">Just now</small> </h6>
                  <a href="javascript:void(0);">You will sail along until you collide with an immovable object</a>
                  <p class="mt-10">You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures) as you notice that the idea of this exercise is to hypnotize yourself to be aware of two very real possibilities for your future.  </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative clearfix">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/02.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Paul Flavius  <small class="float-right">Just now</small> </h6>
                  <a href="javascript:void(0);">Simply by asking ourselves lots of questions</a>
                  <p class="mt-10">That is your imagination doing that. You know the sound that your feet make when you walk across gravel don’t you? You can imagine it, but you are not hearing it in your ears, are you? </p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/03.jpg" alt="">
                  <i class="avatar-online bg-danger"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Anne Smith  <small class="float-right">30 min ago</small> </h6>
                  <a href="javascript:void(0);">This is perhaps the single biggest obstacle</a>
                  <p class="mt-10">Here, there are two different pathways, two possibilities, two ways that you could choose to go.</p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/04.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Sara Lisbon  <small class="float-right">1 hours ago</small> </h6>
                  <a href="javascript:void(0);">We all carry a lot of baggage, thanks to our upbringing.</a>
                  <p class="mt-10">Step out on to the path to your left. Where there is no change. Briefly imagine that you are not going to live and discover your unfulfilled dreams.</p>
                </div>
              </div>
              <div class="divider mt-15"></div>
            </li>
            <li class="mb-15">
              <div class="media">
                <div class="position-relative">
                  <img class="img-fluid mr-15 avatar-small" src="assets/images/team/04.jpg" alt="">
                  <i class="avatar-online bg-success"></i>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 ">Sara Lisbon  <small class="float-right">10 hours ago</small> </h6>
                  <a href="javascript:void(0);">You will sail along until you collide with an immovable object</a>
                  <p class="mt-10">You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures) as you notice that the idea of this exercise is to hypnotize yourself to be aware of two very real possibilities for your future.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>