<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0">  Error </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active"> Error </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-12 mb-30">
    <div class="card card-statistics">
      <div class="card-body position-relative">
        <div class="error">
          <h1>404</h1>
          <h2>error</h2>
        </div>
      </div>
      <img class="img-fluid error-image" src="assets/images/error.png" alt="">
    </div>

    <!--=================================
    wrapper -->
  </div>
</div>