<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Faqs </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Faqs </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Faqs</h5>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <ngb-tabset class="tab nav-center">
              <ngb-tab title="Research">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse show" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Design">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Develop">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Result">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="CSS3">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="HTML5">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="jQuery">
                <ng-template ngbTabContent>
                  <div class="accordion accordion-border mb-30">
                    <div class="acd-group acd-active">
                      <a class="acd-heading acd-active" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" (click)="expandCollpse('collapse1')">01. Tincidunt auctor a ornare odio?</a>
                      <div class="acd-des collapse" id="collapse1">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" (click)="expandCollpse('collapse2')">02. Consequat auctor eu in elit Class?</a>
                      <div class="acd-des collapse" id="collapse2">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" (click)="expandCollpse('collapse3')">03. Vitae erat consequat auctor eu in elit?</a>
                      <div class="acd-des collapse" id="collapse3">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="acd-group">
                      <a class="acd-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" (click)="expandCollpse('collapse4')">04. Morbi accumsan ipsum velit?</a>
                      <div class="acd-des collapse" id="collapse4">
                        <p>Amet of Lorem Ipsum lorem ipsum dolor sit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
                        <ul class="list list-mark mt-20">
                          <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                          <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center mt-40">
            <h6> If you do not find the answer to your question listed within our FAQ's, you can always contact us directly at <a class="theme-color" href="javascript:void(0);"> letstalk@webmin.com</a> </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 