<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> File Manager</h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">File Manager</li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="d-block d-sm-flex justify-content-between">
          <div class="d-block">
            <h4 class="pt-2">My files</h4>
          </div>
          <div class="d-flex">
            <a class="button icon black" href="javascript:void(0);">  Upload Files <i class="fa fa-upload"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/AVI.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.AVI </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/BMP.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.BMP </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/PDF.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.pdf </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/CAD.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.CAD </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/DLL.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.DLL </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/EPS.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.EPS </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/PNG.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.PNG </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/PS.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.PS </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/PSD.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.PSD </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/SQL.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.SQL </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/TXT.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.TXT </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <div class="file-box">
          <img class="img-fluid mb-20" src="assets/images/file-icon/ZIP.png" alt="">
          <div class="d-block d-md-flex justify-content-between">
            <div class="d-block">
              <h6><b>webmin_demo.ZIP </b></h6>
              <p>28.8 kb </p>
            </div>
            <div class="d-block d-md-flex">
              <a href="javascript:void(0);"> <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   