<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Lists </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Lists </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Messages</h5>
        <ul class="list-unstyled">
          <li class="mb-30">
            <div class="media">
              <div class="position-relative">
                <img class="img-fluid mr-15 avatar-small" src="assets/images/team/01.jpg" alt="">
                <i class="avatar-online bg-success"></i>
              </div>
              <div class="media-body">
                <h6 class="mt-0">Martin smith </h6>
              </div>
            </div>
          </li>
          <li class="mb-30">
            <div class="media">
              <div class="position-relative">
                <img class="img-fluid mr-15 avatar-small" src="assets/images/team/02.jpg" alt="">
                <i class="avatar-online bg-success"></i>
              </div>
              <div class="media-body">
                <h6 class="mt-0"> Paul Flavius  </h6>
              </div>
            </div>
          </li>
          <li class="mb-30">
            <div class="media">
              <div class="position-relative">
                <img class="img-fluid mr-15 avatar-small" src="assets/images/team/03.jpg" alt="">
              </div>
              <div class="media-body">
                <h6 class="mt-0">Anne Smith </h6>
              </div>
            </div>
          </li>
          <li class="mb-30">
            <div class="media">
              <div class="position-relative">
                <img class="img-fluid mr-15 avatar-small" src="assets/images/team/04.jpg" alt="">
                <i class="avatar-online bg-success"></i>
              </div>
              <div class="media-body">
                <h6 class="mt-0">Sara Lisbon </h6>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="position-relative">
                <img class="img-fluid mr-15 avatar-small" src="assets/images/team/05.jpg" alt="">
              </div>
              <div class="media-body">
                <h6 class="mt-0"> Paul Flavius </h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">To Do List </h5>
        <div class="scrollbar">
          <ul class="list-unstyled to-do">
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="one" id="one">
                <label for="one"> Prepare Docs For today's Presentation</label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="two" id="two">
                <label for="two">Financial Report Discussion with team <span class="badge badge-success">Today</span>  </label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="three" id="three">
                <label for="three"> 5 new tickets support</label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="four" id="four">
                <label for="four"> Weekly project plan  <span class="badge badge-warning">Saturday</span> </label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="five" id="five">
                <label for="five"> Revenue generation and distribution </label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="six" id="six">
                <label for="six"> Create webmin's offline documentation <span class="badge badge-info">Tomorrow</span> </label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="sevan" id="sevan">
                <label for="sevan"> 5 new tickets support <span class="badge badge-success">Today</span>  </label>
              </div>
            </li>
            <li>
              <div class="remember-checkbox mb-20">
                <input type="checkbox" class="form-control" name="eight" id="eight">
                <label for="eight"> New support forum developing</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Font Awesome List Icon</h5>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list list-unstyled mb-30">
              <li> <i class="fa fa-group text-primary"></i> Easy to use great Fusion Builders </li>
              <li> <i class="fa fa-envelope-open text-info"></i> We offer beautiful free support </li>
              <li> <i class="fa fa-edit text-danger"></i> Awesome sliders give you amazing </li>
              <li> <i class="fa fa-exclamation-triangle text-warning"></i> We offer free support for months </li>
              <li> <i class="fa fa-globe text-success"></i> Wonderful Icon Fonts </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list list-unstyled mb-30">
              <li> <i class="fa fa-heartbeat text-primary"></i> Change Oil and Filter  </li>
              <li> <i class="fa fa-question-circle-o text-info"></i> Brake Pads Replacement  </li>
              <li> <i class="fa fa-life-bouy text-danger"></i> Timing Belt Replacement </li>
              <li> <i class="fa fa-magic text-warning"></i> Pre-purchase Car Inspection  </li>
              <li> <i class="fa fa-magnet text-success"></i> Starter Replacement </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list list list-unstyled mb-30">
              <li> <i class="fa fa-map-pin text-primary"></i> Change Oil and Filter  </li>
              <li> <i class="fa fa-mortar-board text-info"></i> Brake Pads Replacement  </li>
              <li> <i class="fa fa-puzzle-piece text-danger"></i> Timing Belt Replacement </li>
              <li> <i class="fa fa-paper-plane text-warning"></i> Pre-purchase Car Inspection  </li>
              <li> <i class="fa fa-recycle text-success"></i> Starter Replacement </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list list-unstyled mb-30">
              <li> <i class="fa fa-reorder text-primary"></i> Change Oil and Filter  </li>
              <li> <i class="fa fa-share-alt text-info"></i> Brake Pads Replacement  </li>
              <li> <i class="fa fa-shield text-danger"></i> Timing Belt Replacement </li>
              <li> <i class="fa fa-signal text-warning"></i> Pre-purchase Car Inspection  </li>
              <li> <i class="fa fa-tachometer text-success"></i> Starter Replacement </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">List Icon With Class</h5>
        <div class="row">
          <div class="col-sm-6 mb-4">
            <ul class="list list-arrow">
              <li> Change Oil and Filter  </li>
              <li> Brake Pads Replacement  </li>
              <li> Timing Belt Replacement </li>
              <li> Pre-purchase Car Inspection  </li>
              <li> Starter Replacement </li>
            </ul>
          </div>
          <div class="col-sm-6 mb-4">
            <ul class="list list-hand">
              <li> Change Oil and Filter  </li>
              <li> Brake Pads Replacement  </li>
              <li> Timing Belt Replacement </li>
              <li> Pre-purchase Car Inspection  </li>
              <li> Starter Replacement </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list list-edit">
              <li> Change Oil and Filter  </li>
              <li> Brake Pads Replacement  </li>
              <li> Timing Belt Replacement </li>
              <li> Pre-purchase Car Inspection  </li>
              <li> Starter Replacement </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list list-mark">
              <li> Award-winning design</li>
              <li> Super Fast Customer support </li>
              <li> Email Design </li>
              <li> Easy to Customize pages</li>
              <li> Powerful Performance </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 