<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="mb-0"> Layout Container</h4>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb pt-0 float-left float-sm-right ">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
          <li class="breadcrumb-item active">Layout Container</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- main body -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-30">
      <div class="card card-statistics h-100">
        <div class="card-body">
            <h5 class="card-title">Section title</h5>
          <p>Page content goes here</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-30">
      <div class="card card-statistics h-100">
        <div class="card-body">
            <h5 class="card-title">Section title</h5>
          <p>Page content goes here</p>
        </div>
      </div>
    </div>
  </div>
</div> 