<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Sweetalert2 </h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Sweetalert2 </li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A basic message</h5>
        <button id="sweetalert-01" class="btn btn-primary" aria-label="Try me! Example: A basic message" (click)="showAlert('sweetalert-01')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A title with a text under</h5>
        <button id="sweetalert-02" class="btn btn-primary" aria-label="Try me! Example: A title with a text under" (click)="showAlert('sweetalert-02')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A modal with a title, an error icon, a text, and a footer</h5>
        <button id="sweetalert-03" class="btn btn-primary" aria-label="Try me! Example: A modal with a title, an error icon, a text, and a footer" (click)="showAlert('sweetalert-03')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A modal window with a long content inside:</h5>
        <button id="sweetalert-04" class="btn btn-primary" aria-label="Try me! Example: A modal window with a long content inside" (click)="showAlert('sweetalert-04')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">Custom HTML description and buttons </h5>
        <button id="sweetalert-05" class="btn btn-primary" aria-label="Try me! Example: Custom HTML description and buttons" (click)="showAlert('sweetalert-05')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title"> A custom positioned dialog </h5>
        <button id="sweetalert-06" class="btn btn-primary" aria-label="Try me! Example: A custom positioned dialog" (click)="showAlert('sweetalert-06')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">jQuery HTML with custom animation </h5>
        <button id="sweetalert-07" class="btn btn-primary" aria-label="Try me! Example: jQuery HTML with custom animation" (click)="showAlert('sweetalert-07')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics">
      <div class="card-body">
        <h5 class="card-title">A warning message, with a function attached to the 'Confirm'-button </h5>
        <button id="sweetalert-08" class="btn btn-primary" aria-label="Try me! Example: A warning message, with a function attached to the 'Confirm'-button" (click)="showAlert('sweetalert-08')">Try me!</button>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">passing a parameter, you can execute something else for 'Cancel </h5>
        <button id="sweetalert-09" class="btn btn-primary" aria-label="Try me! Example: passing a parameter, you can execute something else for 'Cancel'" (click)="showAlert('sweetalert-09')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A message with a custom image and CSS animation disabled </h5>
        <button id="sweetalert-10" class="btn btn-primary" aria-label="Try me! Example: A message with a custom image and CSS animation disabled" (click)="showAlert('sweetalert-10')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A message with custom width, padding and background </h5>
        <button id="sweetalert-11" class="btn btn-primary" aria-label="Try me! Example: A message with custom width, padding and background" (click)="showAlert('sweetalert-11')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">A message with auto close timer </h5>
        <button id="sweetalert-12" class="btn btn-primary" aria-label="Try me! Example: A message with auto close timer" (click)="showAlert('sweetalert-12')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">Right-to-left support for Arabic, Hebrew, and other RTL languages </h5>
        <button id="sweetalert-13" class="btn btn-primary" aria-label="Try me! Example: A message with auto close timer" (click)="showAlert('sweetalert-13')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">Ajax request </h5>
        <button id="sweetalert-14" class="btn btn-primary" aria-label="Try me! Example: Ajax request" (click)="showAlert('sweetalert-14')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">Chaining modals (queue) </h5>
        <button id="sweetalert-15" class="btn btn-primary" aria-label="Try me! Example: Chaining modals (queue)" (click)="showAlert('sweetalert-15')">Try me!</button>
      </div>
    </div>
    <div class="card card-statistics">
      <div class="card-body">
        <h5 class="card-title"> Dynamic queue </h5>
        <button id="sweetalert-16" class="btn btn-primary" aria-label="Try me! Example: Dynamic queue" (click)="showAlert('sweetalert-16')">Try me!</button>
      </div>
    </div>
  </div>
</div> 