<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0">Timeline</h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Timeline</li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-md-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">

        <div class="mb-30 mt-10 text-center">
          <h3>Timeline Example</h3>
        </div>
        <div class="divider"></div>
        <div class="admin-timeline our-history">
          <div class="timeline-dots"></div>
          <ul class="timeline pb-0">
            <li>
              <div class="timeline-badge"><p class="theme-color">10 Dec 2011</p></div>
              <div class="timeline-panel bg-light p-3 p-md-5">
                <div class="blog-box blog-2 bg-light">
                  <div class="blog-info p-0">
                    <span class="post-category"><a href="javascript:void(0);">Business</a></span>
                    <h4> <a href="javascript:void(0);"> Does your life lack meaning</a></h4>
                    <p>I truly believe Augustine’s words are true.</p>
                    <a class="button icon-color" href="javascript:void(0);">Read More<i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">15 Jan 2014</p></div>
              <div class="timeline-panel bg-light p-3 p-md-5">
                <h5 class="mb-30">To Do List </h5>
                <!-- action group -->
                <div class="btn-group info-drop" id="wrapDiv1">
                  <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="OpenMenu('submenu1','wrapDiv1')"><i class="ti-more"></i></button>
                  <div class="dropdown-menu" id="submenu1">
                    <a class="dropdown-item" href="javascript:void(0);"><i class="text-primary ti-files"></i> Add new</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="text-dark ti-pencil-alt"></i> Edit task</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="text-primary ti-user"></i> Assign to other</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="text-success ti-thumb-up"></i> All Done</a>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <li>
                    <div class="remember-checkbox mb-20">
                      <input type="checkbox" class="form-control" name="one" id="one">
                      <label for="one"> Prepare Docs For today's Presentation <span class="badge badge-danger">Today</span> </label>
                    </div>
                  </li>
                  <li>
                    <div class="remember-checkbox mb-20">
                      <input type="checkbox" class="form-control" name="two" id="two">
                      <label for="two">Financial Report Discussion with team <span class="badge badge-success">Tomorrow</span>  </label>
                    </div>
                  </li>
                  <li>
                    <div class="remember-checkbox">
                      <input type="checkbox" class="form-control" name="three" id="three">
                      <label for="three"> 5 new tickets support</label>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><p class="theme-color">05 Jul 2017</p></div>
              <div class="timeline-panel bg-light p-3 p-md-5">
                <h5 class="mb-30">Top Locations</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8351288872545!2d144.9556518!3d-37.8173306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1443621171568" style="border:0; width: 100%; height: 200px;"></iframe>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">10 Aug 2016</p></div>
              <div class="timeline-panel bg-light p-3 p-md-5">
                <ul class="list-unstyled">
                  <li>
                    <div class="media">
                      <div class="position-relative">
                        <img class="img-fluid mr-15 avatar-small" src="assets/images/team/13.jpg" alt="">
                        <i class="avatar-online bg-success"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="mt-0 ">Martin smith </h6>
                        <p>Create tailor-cut websites with the exclusive </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="blog-entry mt-40">
                  <ul class="grid-post">
                    <li>
                      <div class="portfolio-item">
                        <img class="img-fluid" src="assets/images/blog/01.jpg" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="portfolio-item">
                        <img class="img-fluid" src="assets/images/blog/02.jpg" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="portfolio-item">
                        <img class="img-fluid" src="assets/images/blog/03.jpg" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="portfolio-item">
                        <img class="img-fluid" src="assets/images/blog/04.jpg" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="mb-0">
              <div class="timeline-badge"><p class="theme-color">22 May 2017</p></div>
              <div class="timeline-panel bg-light p-3 p-md-5">
                <h5 class="mb-30">Vimeo post</h5>
                <div class="js-video [vimeo, widescreen]">
                  <iframe src="https://player.vimeo.com/video/176916362"></iframe>
                </div>
              </div>
            </li>
            <li class="timeline-arrow"><i class="fa fa-chevron-down"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 