<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Accordion</h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Accordion</li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion simple</h5>
        <div class="accordion">
          <div class="acd-group acd-active" id="wrapDiv1">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu1','wrapDiv1')">Nesciunt incidunt accusamus necessi.</a>
            <div class="acd-des show" id="submenu1">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv2">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu2','wrapDiv2')">Consectetur, adipisci velit.</a>
            <div class="acd-des" id="submenu2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv3">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu3','wrapDiv3')">Tempora incidunt ut labore.</a>
            <div class="acd-des" id="submenu3">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion gray</h5>
        <div class="accordion gray plus-icon round">
          <div class="acd-group" id="wrapDiv4">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu4','wrapDiv4')">Nesciunt incidunt accusamus necessi</a>
            <div class="acd-des show" id="submenu4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv5">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu5','wrapDiv5')">Consectetur, adipisci velit.</a>
            <div class="acd-des" id="submenu5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv6">
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu6','wrapDiv6')">Tempora incidunt ut labore.</a>
            <div class="acd-des" id="submenu6">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion shadow</h5>
        <div class="accordion plus-icon shadow">
          <div class="acd-group" id="wrapDiv7"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu7','wrapDiv7')">Nesciunt incidunt accusamus necessi</a>
            <div class="acd-des show" id="submenu7">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv8"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu8','wrapDiv8')">Consectetur, adipisci velit.</a>
            <div class="acd-des" id="submenu8">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
          <div class="acd-group" id="wrapDiv9"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu9','wrapDiv9')">Tempora incidunt ut labore.</a>
            <div class="acd-des" id="submenu9">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion border</h5>
        <div class="accordion accordion-border">
          <div class="acd-group" id="wrapDiv10"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu10','wrapDiv10')">Nesciunt incidunt accusamus necessi.</a>
            <div class="acd-des show" id="submenu10">Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis sequi, id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
          <div class="acd-group" id="wrapDiv11"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu11','wrapDiv11')">Consectetur, adipisci velit.</a>
            <div class="acd-des" id="submenu11">Quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
          <div class="acd-group" id="wrapDiv12"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu12','wrapDiv12')">Tempora incidunt ut labore.</a>
            <div class="acd-des" id="submenu12">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion without radius</h5>
        <div class="accordion accordion-border no-radius">
          <div class="acd-group" id="wrapDiv13"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu13','wrapDiv13')">Nesciunt incidunt accusamus necessi.</a>
            <div class="acd-des show" id="submenu13">Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis sequi, id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
          <div class="acd-group" id="wrapDiv14"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu14','wrapDiv14')">Consectetur, adipisci velit.</a>
            <div class="acd-des" id="submenu14">Quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
          <div class="acd-group" id="wrapDiv15"> 
            <a href="javascript:void(0);" class="acd-heading" (click)="OpenAccordion('submenu15','wrapDiv15')">Tempora incidunt ut labore.</a>
            <div class="acd-des" id="submenu15">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Accordion NG Bootstrap</h5>
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
      </div>
    </div>
  </div>
</div> 