agm-map {
  height: 300px;
}

:host /deep/ ngb-rating span {
  font-size: 1.5rem;
}
// For Star
:host /deep/ .star {
  font-size: 1.5rem;
  color: #b0c4de;
  // Filled Star
  &.filled {
    color: #dc3545;
  }
  // Full Star
  &.full {
    color: #626262;
  }
  // Half Star
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #626262;
    font-size: 2rem;
  }
}

:host /deep/ .star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

:host /deep/ #vector-map rect {
  stroke:#ffffff;
}
:host /deep/ #vector-map .dxm-layer path {
  fill: rgb(215, 219, 222);
}