<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0">Switch</h4>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb pt-0 float-left float-sm-right ">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="default-color">Home</a></li>
        <li class="breadcrumb-item active">Switch</li>
      </ol>
    </div>
  </div>
</div>
<!-- main body -->
<div class="row">
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Light Styling</h5>
        <p class="text-muted"><b>Checkbox Block (Default Checked)</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch">
            <label>
              <input type="checkbox" name="" checked="checked" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>

        <p class="text-muted"><b>Checkbox Inline (Default Unchecked)</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch">
            <input type="checkbox" name="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
        <p class="text-muted"><b>Checkbox Disabled (Default Checked)</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
        <p class="text-muted"><b>Checkbox Disabled (Default Unchecked)</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch">
            <input type="checkbox" name="" disabled="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Light Styling</h5>
        <p class="text-muted"><b>Checkbox Block</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-light">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>

        <p class="text-muted"><b>Checkbox Inline</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-light">
            <input type="checkbox" name="" />
            <span></span>
            Checkbox Label
          </label>
        </div>

        <p class="text-muted"><b>Checkbox Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-light">
            <input type="checkbox" name="" disabled="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Success</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-success">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-success">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-success">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Primary</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-primary">
            <label>
              <input type="checkbox" name="" checked=""  />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-primary">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-primary">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Info</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-info">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-info">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-info">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Warning</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-warning">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-warning">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-warning">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Danger</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-danger">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-danger">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-danger">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-30">
    <div class="card card-statistics h-100">
      <div class="card-body">
        <h5 class="card-title">Dark</h5>
        <p class="text-muted"><b>Default Checked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-dark">
            <label>
              <input type="checkbox" name="" checked="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Unchecked</b></p>
        <div class="form-group">
          <div class="checkbox checbox-switch switch-dark">
            <label>
              <input type="checkbox" name="" />
              <span></span>
              Checkbox Label
            </label>
          </div>
        </div>
        <p class="text-muted"><b>Default Disabled</b></p>
        <div class="form-group">
          <label class="checkbox-inline checbox-switch switch-dark">
            <input type="checkbox" name="" disabled="" checked="" />
            <span></span>
            Checkbox Label
          </label>
        </div>
      </div>
    </div>
  </div>
</div>