<div class="wrapper" [class.slide-menu]="isSlideMenu">
  <!--=================================
   preloader -->
  <div id="pre-loader" *ngIf="_commondata.loader.value">
      <img src="../../../assets/images/pre-loader/loader-01.svg" alt="Loading">
    </div>
  <!--=================================
   preloader -->
  <!--=================================
   header start-->
  <nav class="admin-header navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <!-- logo -->
    <div class="bg-white text-left navbar-brand-wrapper">
      <!--<a class="navbar-brand brand-logo" href="javascript:void(0);"><img src="assets/images/logo_kft.png" /></a>-->
      <!--<a class="navbar-brand brand-logo-mini" href="javascript:void(0);"><img src="assets/images/logo-icon-dark.png" alt=""></a>-->
    </div>
    <!-- Top bar left -->
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a id="button-toggle" class="button-toggle-nav inline-block ml-20 pull-left" href="javascript:void(0);" (click)="toggleMenu()"><i class="zmdi zmdi-menu ti-align-right"></i></a>
      </li>
    </ul>
    <!-- top bar right -->
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown mr-30">
        <a class="nav-link nav-pill user-avatar" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/profile-avatar.jpg" alt="avatar">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-0">{{firstName}}</h5>
                <span>{{mobile}}</span>
              </div>
            </div>
          </div>
          <a class="dropdown-item" href="javascript:void(0);" (click)="logout();"><i class="text-danger ti-unlock"></i>Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  <!--=================================
   header End-->
  <!--=================================
   Main content -->

  <div class="container-fluid">
      <ngx-toasta [position]="'top-right'"></ngx-toasta>
    <div class="row">
      <!-- Left Sidebar start-->
      <div class="side-menu-fixed">
        <div class="scrollbar side-menu-bg" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <ul class="nav navbar-nav side-menu">
            <!--<li>-->
              <!--<a routerLink="/dashboard" routerLinkActive="active">-->
              <!--<i class="ti-pie-chart"></i><span class="right-nav-text">Dashboard</span></a>-->
            <!--</li>-->
            <li>
              <a routerLink="/participant" routerLinkActive="active">
                <i class="ti-pie-chart"></i><span class="right-nav-text">Dashboard</span></a>
            </li>

          </ul>
        </div>
      </div>

      <!-- Left Sidebar End-->
      <!--=================================
      wrapper -->
      <div class="content-wrapper">
        <router-outlet></router-outlet>
        <footer class="bg-white p-4">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center text-md-left">
                <p class="mb-0">
                  &copy; Copyright <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                  </span> <a href="javascript:void(0);"> TPT cabs </a> All Rights Reserved
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>


      <!-- main content wrapper end-->
    </div>
  </div>

  <!--=================================
   footer -->
